lesmateriaal/082_ESP8266_kattenvoerder/node-red-flows/MicropythonKattenvoer.json
[{"id":"c4197102.9ec13","type":"inject","z":"7bf83a5d.8c44d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191.16668701171875,"y":143.33334350585938,"wires":[["f9029d29.b440f"]]},{"id":"252cc915.b0cda6","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/esp8266_notification","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":775.1666793823242,"y":143.66667079925537,"wires":[]},{"id":"c339673.6f90698","type":"inject","z":"7bf83a5d.8c44d4","name":"knipperen x5","topic":"kattenvoer/LED_INTERNAL/knipperen","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":180.16668701171875,"y":233.33334350585938,"wires":[["f9029d29.b440f"]]},{"id":"5fc2bb8.b50bd44","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/LED_INTERNAL","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":740.1667060852051,"y":260.6666946411133,"wires":[]},{"id":"14e8360a.5025ba","type":"inject","z":"7bf83a5d.8c44d4","name":"","topic":"","payload":"received","payloadType":"str","repeat":"","crontab":"","once":false,"x":206.00000381469727,"y":68.00000190734863,"wires":[["f9029d29.b440f"]]},{"id":"5e15058b.64275c","type":"inject","z":"7bf83a5d.8c44d4","name":"Doseer kattenvoer","topic":"kattenvoer/nodered/doseer","payload":"servoaanuit","payloadType":"str","repeat":"","crontab":"","once":false,"x":213,"y":455.0000114440918,"wires":[["b709298b.f8fff8","f9029d29.b440f"]]},{"id":"b709298b.f8fff8","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/SERVO_AANUIT","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":529.0000953674316,"y":443.0000114440918,"wires":[]},{"id":"4900cd3e.96bd74","type":"mqtt in","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/ONTWAAKT","qos":"2","broker":"a6a3041b.8ef2e8","x":140.16669082641602,"y":843.3333578109741,"wires":[["ae8016e3.92fac8","f1bc3625.ae93f8","3ac5dbe8.f6a774"]]},{"id":"ae8016e3.92fac8","type":"debug","z":"7bf83a5d.8c44d4","name":"","active":true,"console":"false","complete":"payload","x":405.1666965484619,"y":764.6666860580444,"wires":[]},{"id":"abe6a3ed.3bff5","type":"mqtt in","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/DEBUG","qos":"2","broker":"a6a3041b.8ef2e8","x":129.00000762939453,"y":755.0001850128174,"wires":[["ae8016e3.92fac8"]]},{"id":"c0da5920.b69ef8","type":"inject","z":"7bf83a5d.8c44d4","name":"Start deepsleep","topic":"","payload":"240","payloadType":"num","repeat":"","crontab":"","once":false,"x":156.0000228881836,"y":546.0000133514404,"wires":[["3ac5dbe8.f6a774"]]},{"id":"be03fcec.ddbcf","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/DEEPSLEEP_AANUIT","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":896.0001373291016,"y":592.0001592636108,"wires":[]},{"id":"d57606d8.33dd38","type":"inject","z":"7bf83a5d.8c44d4","name":"LED aan","topic":"kattenvoer/LED_INTERNAL/aan","payload":"LED_AAN","payloadType":"str","repeat":"","crontab":"","once":false,"x":159.00000381469727,"y":281.00000762939453,"wires":[["f9029d29.b440f"]]},{"id":"b9b77774.a448d8","type":"inject","z":"7bf83a5d.8c44d4","name":"LED uit","topic":"kattenvoer/LED_INTERNAL/uit","payload":"LED_UIT","payloadType":"str","repeat":"","crontab":"","once":false,"x":152,"y":329,"wires":[["f9029d29.b440f"]]},{"id":"70ff4ac6.6a5a44","type":"ui_button","z":"7bf83a5d.8c44d4","name":"btnDoseer voer","group":"904aa569.f42e48","order":0,"width":0,"height":0,"label":"doseer voer","color":"","bgcolor":"","icon":"","payload":"servoaanuit","payloadType":"str","topic":"kattenvoer/nodered/doseer","x":223.16669464111328,"y":403.0000114440918,"wires":[["b709298b.f8fff8","f9029d29.b440f"]]},{"id":"5ec02d24.352b64","type":"ui_button","z":"7bf83a5d.8c44d4","name":"btnDeepsleepAanUit","group":"904aa569.f42e48","order":0,"width":0,"height":0,"label":"Spaarstand aan/uit","color":"","bgcolor":"","icon":"","payload":"9","payloadType":"str","topic":"","x":141.16670989990234,"y":627.000039100647,"wires":[["3ac5dbe8.f6a774"]]},{"id":"f1bc3625.ae93f8","type":"function","z":"7bf83a5d.8c44d4","name":"setWakkerTotSlaaptijdMinuten","func":"var setWakkerTotSlaaptijdMinuten = 3\n\nvar today = new Date();\n\nif(msg.topic == \"kattenvoer/ONTWAAKT\")\n{\n    if(msg.payload == \"getVoerInterval\")\n    {\n        msg.payload = parseInt(setWakkerTotSlaaptijdMinuten);\n    }\n    \n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = setWakkerTotSlaaptijdMinuten;\n    }\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":503.16668701171875,"y":845.3333435058594,"wires":[["c7186dfe.a6259","4c5be6fe.d29ee8"]]},{"id":"c7186dfe.a6259","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/INSTELLINGEN/getVoerInterval","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":944.1666641235352,"y":848.3333596885204,"wires":[]},{"id":"df9fd0bb.ba622","type":"inject","z":"7bf83a5d.8c44d4","name":"setVoerIntervalMinuten","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":471.0000534057617,"y":909.6667938232422,"wires":[["c7186dfe.a6259"]]},{"id":"f73da244.b307f","type":"function","z":"7bf83a5d.8c44d4","name":"setCurrentDateTime","func":"var today = new Date();\n\nif(msg.topic == \"kattenvoer/ONTWAAKT\")\n{\n    if(msg.payload == \"getCurrentDateTime\")\n    {\n        msg.payload = today\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":472.00000762939453,"y":988.6667175292969,"wires":[["81e90c80.32cd7","4c5be6fe.d29ee8"]]},{"id":"81e90c80.32cd7","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/INSTELLINGEN/getCurrentDateTime","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":866,"y":1007.6666870117188,"wires":[]},{"id":"3ac5dbe8.f6a774","type":"function","z":"7bf83a5d.8c44d4","name":"instellen Deepsleep doorlooptijd(400 minuten)","func":"var slaapTijd = 1  // slapen 1 minuut\nvar eenSekonden = 1000 //1000ms = 1sec\nvar eenMinuut = eenSekonden * 60\nvar milliseconden = slaapTijd * eenSekonden * eenMinuut\n\n// het deepsleep loopt in  millisekonden\n// 60,000ms = 1minuut\n// aantalMinuten = aantalMinuten*60\nmsg.topic = \"kattenvoer/DEEPSLEEP_AANUIT\"\nmsg.payload = parseInt(milliseconden)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":509.1666717529297,"y":639.6666851043701,"wires":[["be03fcec.ddbcf","4c5be6fe.d29ee8"]]},{"id":"635d0a7d.beba34","type":"e-mail","z":"7bf83a5d.8c44d4","server":"smtp.gmail.com","port":"465","secure":true,"name":"michiel.erasmus@gmail.com","dname":"","x":1208.1667861938477,"y":671.3334350585938,"wires":[]},{"id":"4c5be6fe.d29ee8","type":"function","z":"7bf83a5d.8c44d4","name":"logging mailBericht","func":"var today = new Date();\nvar Topic = msg.topic\n\nfunction addDate (date, t, delim) {\n   delim = (delim)? delim : ':',\n       x = 0,\n       z = 0,\n       arr = t.split(delim);\n\n   for(var i = 0; i < arr.length; i++) {\n      z = parseInt(arr[i], 10);\n      if (z != isNaN) {\n         var y = /^\\d+?y/i.test(arr[i])? 31556926: 0; //years\n         var w = /^\\d+?w/i.test(arr[i])? 604800: 0;   //weeks\n         var d = /^\\d+?d/i.test(arr[i])? 86400: 0;    //days\n         var h = /^\\d+?h/i.test(arr[i])? 3600: 0;     //hours\n         var m = /^\\d+?m/i.test(arr[i])? 60: 0;       //minutes\n         var s = /^\\d+?s/i.test(arr[i])? 1: 0;        //seconds\n         x += z * (y + w + d + h + m + s);\n      }\n   }\n   date.setSeconds(date.getSeconds() + x);\n}\n\nmsg.payload = [1234, \"[{datum: '\" + today + \"', topic:'\"  + Topic + \"', payload: '\" + msg.payload + \"'}]\"];\nmsg.topic = \"INSERT INTO LogAlgemeenZooi (DeviceID, Logtekst) VALUES (?, ?)\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":872.0000228881836,"y":695.0000200271606,"wires":[["df349674.10df18","3e8b6781.02aa08"]]},{"id":"df349674.10df18","type":"ui_text","z":"7bf83a5d.8c44d4","group":"904aa569.f42e48","order":0,"width":0,"height":0,"name":"","label":"Laatse gebeurtenis:","format":"{{msg.topic + \"<br/>\" + msg.payload}}","layout":"col-center","x":1178.8333740234375,"y":723.6666889190674,"wires":[]},{"id":"f9029d29.b440f","type":"function","z":"7bf83a5d.8c44d4","name":"samenVoegen","func":"return msg;\n","outputs":1,"noerr":0,"x":443.6666679382324,"y":271.00000953674316,"wires":[["5fc2bb8.b50bd44","4c5be6fe.d29ee8","252cc915.b0cda6"]]},{"id":"3e8b6781.02aa08","type":"sqlite","z":"7bf83a5d.8c44d4","mydb":"5d8f5b3f.4828a4","name":"micropython_kattenvoer.db","x":1217.0000305175781,"y":777.0001850128174,"wires":[[]]},{"id":"915b032d.2c976","type":"mqtt in","z":"7bf83a5d.8c44d4","name":"ontvang WemosD1 clientID","topic":"Kattenvoer/CLIENT_ID","qos":"2","broker":"a6a3041b.8ef2e8","x":148.16667938232422,"y":679.3333940505981,"wires":[["3ac5dbe8.f6a774"]]},{"id":"a6a3041b.8ef2e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"admin@localhost","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"904aa569.f42e48","type":"ui_group","z":"","name":"Easylab4Kids kattenvoerder ","tab":"9ebdf817.0b9048","order":1,"disp":true,"width":"6"},{"id":"5d8f5b3f.4828a4","type":"sqlitedb","z":"","db":"/home/pi/dbs/micropython_kattenvoer.db"},{"id":"9ebdf817.0b9048","type":"ui_tab","z":"","name":"Kattenvoer","icon":"dashboard","order":7}]
