lesmateriaal/082_ESP8266_kattenvoerder/node-red-flows/MicropythonKattenvoer.json
[{"id":"c4197102.9ec13","type":"inject","z":"7bf83a5d.8c44d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191.16668701171875,"y":143.33334350585938,"wires":[["252cc915.b0cda6"]]},{"id":"252cc915.b0cda6","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/esp8266_notification","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":559.1666793823242,"y":162.66667079925537,"wires":[]},{"id":"c339673.6f90698","type":"inject","z":"7bf83a5d.8c44d4","name":"knipperen x5","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":180.16668701171875,"y":233.33334350585938,"wires":[["5fc2bb8.b50bd44"]]},{"id":"5fc2bb8.b50bd44","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/LED_INTERNAL","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":535.1666870117188,"y":262.66668701171875,"wires":[]},{"id":"14e8360a.5025ba","type":"inject","z":"7bf83a5d.8c44d4","name":"","topic":"","payload":"received","payloadType":"str","repeat":"","crontab":"","once":false,"x":206.00000381469727,"y":68.00000190734863,"wires":[["252cc915.b0cda6"]]},{"id":"5e15058b.64275c","type":"inject","z":"7bf83a5d.8c44d4","name":"Doseer kattenvoer","topic":"","payload":"servoaanuit","payloadType":"str","repeat":"","crontab":"","once":false,"x":213,"y":455.0000114440918,"wires":[["b709298b.f8fff8"]]},{"id":"b709298b.f8fff8","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/SERVO_AANUIT","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":529.0000953674316,"y":443.0000114440918,"wires":[]},{"id":"4900cd3e.96bd74","type":"mqtt in","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/ONTWAAKT","qos":"2","broker":"a6a3041b.8ef2e8","x":164.16668701171875,"y":847.3333778381348,"wires":[["ae8016e3.92fac8","f1bc3625.ae93f8"]]},{"id":"ae8016e3.92fac8","type":"debug","z":"7bf83a5d.8c44d4","name":"","active":true,"console":"false","complete":"payload","x":405.1666965484619,"y":764.6666860580444,"wires":[]},{"id":"abe6a3ed.3bff5","type":"mqtt in","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/DEBUG","qos":"2","broker":"a6a3041b.8ef2e8","x":202.00000381469727,"y":761.0001850128174,"wires":[["ae8016e3.92fac8"]]},{"id":"c0da5920.b69ef8","type":"inject","z":"7bf83a5d.8c44d4","name":"Start deepsleep","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"x":156.0000228881836,"y":546.0000133514404,"wires":[["3ac5dbe8.f6a774"]]},{"id":"be03fcec.ddbcf","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/DEEPSLEEP_AANUIT","qos":"2","retain":"","broker":"a6a3041b.8ef2e8","x":896.0001373291016,"y":592.0001592636108,"wires":[]},{"id":"d57606d8.33dd38","type":"inject","z":"7bf83a5d.8c44d4","name":"LED aan","topic":"","payload":"LED_AAN","payloadType":"str","repeat":"","crontab":"","once":false,"x":159.00000381469727,"y":281.00000762939453,"wires":[["5fc2bb8.b50bd44"]]},{"id":"b9b77774.a448d8","type":"inject","z":"7bf83a5d.8c44d4","name":"LED uit","topic":"","payload":"LED_UIT","payloadType":"str","repeat":"","crontab":"","once":false,"x":152,"y":329,"wires":[["5fc2bb8.b50bd44"]]},{"id":"70ff4ac6.6a5a44","type":"ui_button","z":"7bf83a5d.8c44d4","name":"btnDoseer voer","group":"904aa569.f42e48","order":0,"width":0,"height":0,"label":"doseer voer","color":"","bgcolor":"","icon":"","payload":"servoaanuit","payloadType":"str","topic":"","x":223.16669464111328,"y":403.0000114440918,"wires":[["b709298b.f8fff8"]]},{"id":"5ec02d24.352b64","type":"ui_button","z":"7bf83a5d.8c44d4","name":"btnDeepsleepAanUit","group":"904aa569.f42e48","order":0,"width":0,"height":0,"label":"Spaarstand aan/uit","color":"","bgcolor":"","icon":"","payload":"9","payloadType":"str","topic":"","x":141.16670989990234,"y":627.000039100647,"wires":[["3ac5dbe8.f6a774"]]},{"id":"f1bc3625.ae93f8","type":"function","z":"7bf83a5d.8c44d4","name":"setVoerIntervalMinuten","func":"var VoerIntervalMinuten = 1\n\nvar today = new Date();\n\nif(msg.topic == \"kattenvoer/ONTWAAKT\")\n{\n    if(msg.payload == \"getVoerInterval\")\n    {\n        msg.payload = parseInt(VoerIntervalMinuten);\n    }\n    \n    if(parseInt(msg.payload) == 1)\n    {\n        msg.payload = VoerIntervalMinuten;\n    }\n    \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":473.16668701171875,"y":845.3333435058594,"wires":[["c7186dfe.a6259"]]},{"id":"c7186dfe.a6259","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/INSTELLINGEN/getVoerInterval","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":857.1666870117188,"y":899.3333797454834,"wires":[]},{"id":"df9fd0bb.ba622","type":"inject","z":"7bf83a5d.8c44d4","name":"setVoerIntervalMinuten","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":471.0000534057617,"y":909.6667938232422,"wires":[["c7186dfe.a6259"]]},{"id":"f73da244.b307f","type":"function","z":"7bf83a5d.8c44d4","name":"setCurrentDateTime","func":"var today = new Date();\n\nif(msg.topic == \"kattenvoer/ONTWAAKT\")\n{\n    if(msg.payload == \"getCurrentDateTime\")\n    {\n        msg.payload = today\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":472.00000762939453,"y":988.6667175292969,"wires":[["81e90c80.32cd7"]]},{"id":"81e90c80.32cd7","type":"mqtt out","z":"7bf83a5d.8c44d4","name":"","topic":"kattenvoer/INSTELLINGEN/getCurrentDateTime","qos":"2","retain":"true","broker":"a6a3041b.8ef2e8","x":866,"y":1007.6666870117188,"wires":[]},{"id":"3ac5dbe8.f6a774","type":"function","z":"7bf83a5d.8c44d4","name":"Deepsleep doorlooptijd(9 sek)","func":"msg.payload = 9\n\nreturn msg;","outputs":1,"noerr":0,"x":549.1666793823242,"y":578.6667041778564,"wires":[["be03fcec.ddbcf"]]},{"id":"a6a3041b.8ef2e8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"admin@localhost","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"904aa569.f42e48","type":"ui_group","z":"","name":"Easylab4Kids kattenvoerder ","tab":"9ebdf817.0b9048","order":1,"disp":true,"width":"6"},{"id":"9ebdf817.0b9048","type":"ui_tab","z":"","name":"Kattenvoer","icon":"dashboard","order":7}]
